In [1]:
# Importing required packages/boilerplate code
import pandas as pd
import os
import sys
import time
import matplotlib.pyplot as plt
import numpy as np

sys.path.append('../')

from static_helpers import *

# Create directories listed below
directories = ["figures"]
create_directories(directories)

# Retrieve titles
titles = get_titles()
file_names = ["Data" + format_file_names(title) for title in titles]

# Creates a dictionary containing all the data frames for the files
# Indexed by the file name, returns the data frame.
df_dictionary = {}
directory = "10years"

for file in file_names:
    complete_file_name = os.path.join(directory, file)
    
    if file_exists(complete_file_name):
        df_dictionary[file] = pd.read_csv(complete_file_name)

,Unnamed: 0,revid,parentid,user,userid,timestamp,size,anon
0,0,920577616,0,Feminist,25530780,2019-10-10T17:00:08Z,1150,NaN
1,1,920577900,920577616,Feminist,25530780,2019-10-10T17:02:18Z,1191,NaN
2,2,920577928,920577900,Feminist,25530780,2019-10-10T17:02:30Z,1192,NaN
3,3,920580275,920577928,Feminist,25530780,2019-10-10T17:17:56Z,2031,NaN
4,4,920587204,920580275,Feminist,25530780,2019-10-10T18:05:23Z,2991,NaN
...,...,...,...,...,...,...,...,...
65,65,925919074,925919015,Feminist,25530780,2019-11-13T03:39:38Z,15589,NaN
66,66,925919251,925919074,Feminist,25530780,2019-11-13T03:41:25Z,18196,NaN
67,67,925980950,925919251,Feminist,25530780,2019-11-13T14:53:07Z,18233,NaN
68,68,926076353,925980950,Feminist,25530780,2019-11-14T02:48:20Z,18248,NaN
69,69,929004290,926076353,2601:2C2:C200:3BC:39D8:2B46:40A5:2A41,0,2019-12-03T01:43:10Z,18254,True

In [12]:
# Count the number of non-anon users that edit a specific page
df = pd.read_csv("data/DataCarrie_Lam.csv")

df = df.loc[df['anon'] != True]

print(df['user'].nunique())

105

hello world